@using IdentityServer.Admin.Helpers
@model IdentityServer.Admin.Models.ApiScope.ApiScopeModel


<div class="card-body">
    <!--Input - text -->
    <div class="form-group row">
        <label asp-for="Name" class="col-sm-3 col-form-label">
            @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("ApiScope.Fields.Name").Text, T("ApiScope.Fields.Name.Hint").Text))
        </label>
        <div class="col-sm-9">
            <input type="text" required class="form-control" asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <!--Input - text -->
    <div class="form-group row">
        <label asp-for="DisplayName" class="col-sm-3 col-form-label">
            @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("ApiScope.Fields.DisplayName").Text, T("ApiScope.Fields.DisplayName.Hint").Text))
        </label>
        <div class="col-sm-9">
            <input type="text" class="form-control" asp-for="DisplayName">
        </div>
    </div>

    <!--Input - text -->
    <div class="form-group row">
        <label asp-for="Description" class="col-sm-3 col-form-label">
            @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("ApiScope.Fields.Description").Text, T("ApiScope.Fields.Description.Hint").Text))
        </label>
        <div class="col-sm-9">
            <input type="text" class="form-control" asp-for="Description">
        </div>
    </div>

    <!--Checkbox-->
    <div class="form-group row">
        <label asp-for="Required" class="col-sm-3 col-form-label">
            @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("ApiScope.Fields.Required").Text, T("ApiScope.Fields.Required.Hint").Text))
        </label>
        <div class="col-sm-9">
            <toggle-button>
                <input asp-for="Required" type="checkbox">
            </toggle-button>
        </div>
    </div>

    <!--Checkbox-->
    <div class="form-group row">
        <label asp-for="Emphasize" class="col-sm-3 col-form-label">
            @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("ApiScope.Fields.Emphasize").Text, T("ApiScope.Fields.Emphasize.Hint").Text))
        </label>
        <div class="col-sm-9">
            <toggle-button>
                <input asp-for="Emphasize" type="checkbox">
            </toggle-button>
        </div>
    </div>

    <!--Select with tags-->
    <div class="form-group row">
        <label asp-for="UserClaimsItems" class="col-sm-3 col-form-label">
            @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("ApiScope.Fields.UserClaims").Text, T("ApiScope.Fields.UserClaims.Hint").Text))
        </label>
        <div class="col-sm-9">
            <picker id="UserClaimsItems" multiple-select="true" min-search-text="2"
                    selected-items="@Model.UserClaims.Select(x=>x.Type).ToList()"
                    url="@Url.Action("SearchClaims","ClientClaim")?claim"
                    search-input-placeholder="@T("Common.PickerSearchItemPlaceholder").Text"
                    selected-items-title="@T("Common.PickerSelectedItemsTitle").Text"
                    search-result-title="@T("Common.PickerSearchResultTitle").Text"
                    suggested-items-title="@T("Common.PickerSuggestedItemsTitle").Text"
                    no-item-selected-title="@T("Common.PickerNoItemSelectedTitle").Text"
                    show-all-items-title="@T("Common.PickerShowAllItemsTitle").Text"
                    item-already-selected-title="@T("Common.PickerItemAlreadySelectedTitle").Text">
            </picker>
        </div>
    </div>

    <!--Button-->
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">
        </label>
        <div class="col-sm-9">
            <button type="submit" id="api-scope-save-button" class="btn btn-primary">@T("Common.Save").Text</button>
            @if (Model.Id > 0)
            {
                <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">@T("Common.Delete").Text</a>
            }
        </div>
    </div>
</div>