@using IdentityServer.Admin.Helpers
@model IdentityServer.Admin.Models.ApiResource.ApiResourceSecretModel

@{
    ViewBag.Title = "删除 Api 密钥";
    Layout = "_Layout";
}

<form asp-action="Delete" Method="post">
    <div class="row">

        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="ApiResource" asp-action="Index">@T("ApiResource.PageTitle").Text</a></li>
                    <li class="breadcrumb-item"><a asp-controller="ApiResource" asp-action="Edit" asp-route-id="@Model.ApiResourceId">@T("ApiResource.Edit").Text - @Model.ApiResourceName</a></li>
                    <li class="breadcrumb-item"><a asp-controller="ApiResourceSecret" asp-action="Index" asp-route-apiResourceId="@Model.ApiResourceId">@T("ApiResourceSecret.PageTitle").Text</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@T("ApiResourceSecret.Delete").Text</li>
                </ol>
            </nav>
        </div>

        <div class="col-md-12">
            <!--Hidden -->
            <input type="hidden" asp-for="ApiResourceId" />

            <!--Hidden -->
            <input type="hidden" asp-for="Id" />

            <div class="card mt-3">
                <h5 class="card-header">@T("ApiResourceSecret.Delete").Text</h5>
                <div class="card-body">

                    <!--Input - text -->
                    <div class="form-group row">
                        <label asp-for="Type" class="col-sm-3 col-form-label">
                            @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("ApiResourceSecret.Type").Text, ""))
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" disabled="disabled" asp-for="Type">
                        </div>
                    </div>

                    <!--Input - text -->
                    <div class="form-group row">
                        <label asp-for="Value" class="col-sm-3 col-form-label">
                            @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("ApiResourceSecret.Value").Text, ""))
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" disabled="disabled" asp-for="Value">
                        </div>
                    </div>

                    <!--Button-->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">
                        </label>
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-danger">@T("Common.Delete").Text</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>





