@using IdentityServer.Admin.Helpers
@model IdentityServer.Admin.Models.IdentityResource.IdentityResourceModel

<div asp-validation-summary="All" class="text-danger"></div>



<!--Input - text -->
<div class="form-group row">
    <label asp-for="Name" class="col-sm-3 col-form-label">
        @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("IdentityResource.Fields.Name").Text, T("IdentityResource.Fields.Name.Hint").Text))
    </label>
    <div class="col-sm-9">
        <input type="text" required class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</div>

<!--Input - text -->
<div class="form-group row">
    <label asp-for="DisplayName" class="col-sm-3 col-form-label">
        @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("IdentityResource.Fields.Description").Text, T("IdentityResource.Fields.Description.Hint").Text))
    </label>
    <div class="col-sm-9">
        <input type="text" class="form-control" asp-for="DisplayName">
    </div>
</div>

<!--Input - text -->
<div class="form-group row">
    <label asp-for="Description" class="col-sm-3 col-form-label">
        @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("IdentityResource.Fields.Description").Text, T("IdentityResource.Fields.Description.Hint").Text))
    </label>
    <div class="col-sm-9">
        <input type="text" class="form-control" asp-for="Description">
    </div>
</div>

<!--Checkbox-->
<div class="form-group row">
    <label asp-for="Enabled" class="col-sm-3 col-form-label">
        @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("IdentityResource.Fields.Enabled").Text, T("IdentityResource.Fields.Enabled.Hint").Text))
    </label>
    <div class="col-sm-9">
        <toggle-button>
            <input asp-for="Enabled" type="checkbox">
        </toggle-button>
    </div>
</div>

<!--Checkbox-->
<div class="form-group row">
    <label asp-for="ShowInDiscoveryDocument" class="col-sm-3 col-form-label">
        @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("IdentityResource.Fields.ShowInDiscoveryDocument").Text, T("IdentityResource.Fields.ShowInDiscoveryDocument.Hint").Text))
    </label>
    <div class="col-sm-9">
        <toggle-button>
            <input asp-for="ShowInDiscoveryDocument" type="checkbox">
        </toggle-button>
    </div>
</div>

<!--Checkbox-->
<div class="form-group row">
    <label asp-for="Required" class="col-sm-3 col-form-label">
        @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("IdentityResource.Fields.Name").Text, T("IdentityResource.Fields.Name.Hint").Text))
    </label>
    <div class="col-sm-9">
        <toggle-button>
            <input asp-for="Required" type="checkbox">
        </toggle-button>
    </div>
</div>

<!--Checkbox-->
<div class="form-group row">
    <label asp-for="Emphasize" class="col-sm-3 col-form-label">
        @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("IdentityResource.Fields.Emphasize").Text, T("IdentityResource.Fields.Emphasize.Hint").Text))
    </label>
    <div class="col-sm-9">
        <toggle-button>
            <input asp-for="Emphasize" type="checkbox">
        </toggle-button>
    </div>
</div>

<!--Select with tags-->
<div class="form-group row">
    <label asp-for="UserClaimsItems" class="col-sm-3 col-form-label">
        @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("IdentityResource.Fields.UserClaims").Text, T("IdentityResource.Fields.UserClaims.Hint").Text))
    </label>
    <div class="col-sm-9">
        <picker id="UserClaimsItems" multiple-select="true" min-search-text="2"
                selected-items="@(Model.UserClaims!=null?Model.UserClaims.Select(x=>x.Type).ToList():new List<string>())"
                url="@Url.Action("SearchClaims","ClientClaim")?claim"
                search-input-placeholder="@T("Common.PickerSearchItemPlaceholder").Text"
                selected-items-title="@T("Common.PickerSelectedItemsTitle").Text"
                search-result-title="@T("Common.PickerSearchResultTitle").Text"
                suggested-items-title="@T("Common.PickerSuggestedItemsTitle").Text"
                no-item-selected-title="@T("Common.PickerNoItemSelectedTitle").Text"
                show-all-items-title="@T("Common.PickerShowAllItemsTitle").Text"
                item-already-selected-title="@T("Common.PickerItemAlreadySelectedTitle").Text">
        </picker>
    </div>
</div>

@if (Model.Id != 0)
{
    <!--Button-->
    @*<div class="form-group row">
            <label class="col-sm-3 col-form-label">
                @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("属性", "需要保留任何自定义身份资源特定值的字典"))
            </label>
            <div class="col-sm-9">
                <a asp-action="IdentityResourceProperties" asp-route-id="@Model.Id" class="btn btn-primary">管理身份资源属性</a>
            </div>
        </div>*@
}

<!--Button-->
<div class="form-group row">
    <label class="col-sm-3 col-form-label">
    </label>
    <div class="col-sm-9">
        <button type="submit" id="identity-resource-save-button" class="btn btn-primary">@T("Common.Save").Text</button>
        @if (Model.Id != 0)
        {
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">@T("Common.Delete").Text</a>
        }
    </div>
</div>
