@model IdentityServer.Admin.Models.IdentityResource.IdentityResourceModel

@{
    ViewBag.Title = T("IdentityResource.Edit").Text;
    Layout = "_Layout";
}

<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="IdentityResource" asp-action="Index">@T("IdentityResource.PageTitle").Text</a></li>
                <li class="breadcrumb-item active" aria-current="page">@T("IdentityResource.Edit").Text - @Model.Name</li>
            </ol>
        </nav>
    </div>
</div>

<form asp-action="Edit" method="post" id="identity-resource-form">
    <div class="card mt-3">
        <h5 class="card-header">@T("IdentityResource.Edit").Text</h5>
        <div class="card-body">
            @Html.HiddenFor(model => model.Id)
            @await Html.PartialAsync("_CreateOrUpdate", Model)
        </div>
    </div>
</form>

@section scripts
{
    <script>
        $(function () {

            //Disable enter for this form
            FormMvc.disableEnter($('#identity-resource-form'));
        });
    </script>
}