@using IdentityServer.Admin.Helpers
@model IdentityServer.Admin.Models.Client.ClientClaimModel

@{
    ViewBag.Title = T("Clients.ClientClaimDelete.PageTitle").Text;
    Layout = "_Layout";
}

<form asp-action="Delete" Method="post">
    <div class="row">

        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Client" asp-action="Index">@T("Client.PageTitle").Text</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Client" asp-action="Edit" asp-route-id="@Model.ClientId">@T("Clients.Edit").Text - @ViewBag.ClientName</a></li>
                    <li class="breadcrumb-item"><a asp-controller="ClientClaim" asp-action="Index" asp-route-id="@Model.ClientId">@T("Clients.ClientClaims.PageTitle").Text</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@T("Clients.ClientClaimDelete.PageTitle").Text</li>
                </ol>
            </nav>
        </div>

        <div class="col-md-12">
            <h3>@T("Clients.ClientClaimDelete.PageTitle").Text</h3>

            <!--Hidden -->
            <input type="hidden" asp-for="Id" />

            <!--Hidden -->
            <input type="hidden" asp-for="ClientId" />

            <div class="card mt-3">
                <h5 class="card-header">@T("Clients.ClientClaimDelete.PageTitle").Text</h5>
                <div class="card-body">
                    <!--Input - text -->
                    <div class="form-group row">
                        <label asp-for="Type" class="col-sm-3 col-form-label">
                            @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("Clients.ClientClaim.Type").Text, ""))
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" disabled="disabled" asp-for="Type">
                        </div>
                    </div>

                    <!--Input - text -->
                    <div class="form-group row">
                        <label asp-for="Value" class="col-sm-3 col-form-label">
                            @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("Clients.ClientClaim.Value").Text, ""))
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" disabled="disabled" asp-for="Value">
                        </div>
                    </div>

                    <!--Button-->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">
                        </label>
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-danger">@T("Common.Delete").Text</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>