@using System.Diagnostics
@using IdentityServer.Admin.Services.Localization
@inject ILocalizationService LocalizationService
@{ var version = FileVersionInfo.GetVersionInfo(typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.Location).ProductVersion.Split('+').First(); }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/favicon.ico")" />
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/favicon.ico")" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link href="~/dist/css/bundle.min.css" asp-append-version="true" rel="stylesheet" />

        <link href="@Url.Content("~/dist/css/themes/pulse/bootstrap.min.css")" asp-append-version="true" rel="stylesheet" />

        <link href="~/dist/css/web.css" asp-append-version="true" rel="stylesheet" />
    </environment>

    <environment exclude="Development">
        <link href="~/dist/css/bundle.min.css" asp-append-version="true" rel="stylesheet" />

        <link href="@Url.Content("~/dist/css/themes/pulse/bootstrap.min.css")" asp-append-version="true" rel="stylesheet" />

        <link href="~/dist/css/web.min.css" asp-append-version="true" rel="stylesheet" />
    </environment>

    @await RenderSectionAsync("styles", required: false)
</head>
<body>
    <div class="menu d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <!--Site name -->
        <h3 class="menu-logo my-0 mr-md-auto font-weight-normal"><a class="logo" asp-area="" asp-controller="Home" asp-action="Index">@T("Admin.Menu.PageTitle", version).Text</a></h3>

        <!--Menu item -->
        <vc:identity-server-link></vc:identity-server-link>

        <!--Menu item -->
        <div class="menu-item my-2 my-md-0 mr-md-3 dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                @T("Admin.TitleConfiguration").Text
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-area="" asp-controller="Client" asp-action="Index">@T("Admin.Clients").Text</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-area="" asp-controller="IdentityResource" asp-action="Index">@T("Admin.IdentityResource").Text</a>
                <a class="dropdown-item" asp-area="" asp-controller="ApiResource" asp-action="Index">@T("Admin.ApiResource").Text</a>
                <a class="dropdown-item" asp-area="" asp-controller="ApiScope" asp-action="Index">@T("Admin.ApiScope").Text</a>
                @*<div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-area="" asp-controller="PersistedGrant" asp-action="Index">@T("Admin.PersistedGrants").Text</a>*@
            </div>
        </div>

        <!--Menu item -->
        <div class="menu-item my-2 my-md-0 mr-md-3 dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                @T("Admin.TitleUserManagement").Text
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Index">@T("Admin.Users").Text</a>
                <a class="dropdown-item" asp-area="" asp-controller="Role" asp-action="Index">@T("Admin.Roles").Text</a>
            </div>
        </div>
        <!--Menu item -->
        <div class="menu-item my-2 my-md-0 mr-md-3 dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                @T("Admin.TitleCommon").Text
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-area="" asp-controller="Language" asp-action="Index">@T("Admin.TitleLanguages").Text</a>
            </div>
        </div>
        <!--Menu item -->
        @*<div class="menu-item my-2 my-md-0 mr-md-3 dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    日志
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-area="" asp-controller="Log" asp-action="AuditLog">审计日志</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Log" asp-action="ErrorsLog">错误日志</a>
                </div>
            </div>*@

        <!--Menu item -->
        @if (User.Identity.IsAuthenticated)
        {
            <a class="menu-item my-2 btn btn-outline-primary" asp-action="Logout" asp-controller="Account">@T("Admin.Logout").Text</a>
        }

        <!--Menu button - show in < MD -->
        <a class="my-2 btn btn-outline-primary menu-button" href="#">
            <span class="oi oi-menu" title="menu" aria-hidden="true"></span> @T("Admin.Menu").Text
        </a>
    </div>
    <div class="container">
        @RenderBody()

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-6 col-md">
                    <small class="d-block mb-3 text-muted">© @DateTime.Now.Year - @await Html.PartialAsync("Common/ApplicationVersion")</small>
                </div>
                <div class="col-md-6 text-right">
                    @await Component.InvokeAsync("LanguageSelector")
                </div>
            </div>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/dist/js/bundle.min.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/dist/js/bundle.min.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @await Html.PartialAsync("Common/Notification")
    @await RenderSectionAsync("scripts", required: false)
    <script src="https://eqcn.ajz.miesnfu.com/wp-content/plugins/wp-3d-pony/live2dw/lib/L2Dwidget.min.js"></script>
    <script>
        // ReSharper disable once PossiblyUnassignedProperty
        L2Dwidget.init({
            "model": {
                jsonPath: "https://unpkg.com/live2d-widget-model-tororo@1.0.5/assets/tororo.model.json",
                "scale": 1
            },
            "display": {
                "position": "left",
                "hOffset": 0,
                "vOffset": -20
            },
            "mobile": {
                "show": true,
                "scale": 0.5
            },
            "react": {
                "opacityDefault": 0.8,
                "opacityOnHover": 0.2
            }
        });
    </script>
</body>
</html>
