@using IdentityServer.Admin.Core.Entities.Enums
@using IdentityServer.Admin.Core.Extensions
@using IdentityServer.Admin.Helpers
@model ClientModel
@{
    var accessTokenType = EnumExtension.ToDictionary<AccessTokenType>().Select(x => new SelectListItem
    {
        Text = x.Value,
        Value = x.Key.ToString()
    });
}

<div class="card mt-3">
    <h5 class="card-header">令牌</h5>
    <div class="card-body">
        <!--Input - number -->
        <div class="form-group row">
            <label asp-for="IdentityTokenLifetime" class="col-sm-3 col-form-label">
                @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("身份令牌生命周期", "身份令牌 id_token 的生命周期（以秒为单位）（默认为 300 秒/5 分钟）"))
            </label>
            <div class="col-sm-9">
                <input type="number" class="form-control" asp-for="IdentityTokenLifetime">
            </div>
        </div>

        <!--Input - number -->
        <div class="form-group row">
            <label asp-for="AccessTokenLifetime" class="col-sm-3 col-form-label">
                @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("访问令牌生命周期 ", "访问令牌 access_token 的生命周期（以秒为单位）（默认为 3600 秒/1 小时）"))
            </label>
            <div class="col-sm-9">
                <input type="number" class="form-control" asp-for="AccessTokenLifetime">
            </div>
        </div>

        <!--Select-->
        <div class="form-group row">
            <label asp-for="AccessTokenType" class="col-sm-3 col-form-label">
                @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("访问令牌类型", "指定访问令牌 access_token 是引用令牌还是自包含 JWT 令牌（默认为 Jwt）"))
            </label>
            <div class="col-sm-9">
                <select asp-for="AccessTokenType" asp-items="@accessTokenType" class="form-control"></select>
            </div>
        </div>

        <!--Input - number -->
        <div class="form-group row">
            <label asp-for="AuthorizationCodeLifetime" class="col-sm-3 col-form-label">
                @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("授权码生命周期", "授权码的生命周期（以秒为单位）（默认为 300 秒/5 分钟）"))
            </label>
            <div class="col-sm-9">
                <input type="number" class="form-control" asp-for="AuthorizationCodeLifetime">
            </div>
        </div>

        <!--Input - number-->
        <div class="form-group row">
            <label asp-for="AbsoluteRefreshTokenLifetime" class="col-sm-3 col-form-label">
                @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("绝对刷新令牌生命周期", "刷新令牌的最长生命周期，以秒为单位。 默认为 2592000 秒/30 天"))
            </label>
            <div class="col-sm-9">
                <input type="number" class="form-control" asp-for="AbsoluteRefreshTokenLifetime">
            </div>
        </div>

        <!--Input - number -->
        <div class="form-group row">
            <label asp-for="SlidingRefreshTokenLifetime" class="col-sm-3 col-form-label">
                @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("滚动刷新令牌生命周期 ", "滚动刷新生命周期是多少秒钟刷新令牌。 默认为 1296000 秒/15 天"))
            </label>
            <div class="col-sm-9">
                <input type="number" class="form-control" asp-for="SlidingRefreshTokenLifetime">
            </div>
        </div>

        <!--Select-->
        <div class="form-group row">
            <label asp-for="RefreshTokenUsage" class="col-sm-3 col-form-label">
                @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("刷新令牌使用情况", "ReUse 刷新令牌时，令牌句柄将保持不变 OneTime 刷新令牌时将更新令牌句柄"))
            </label>
            <div class="col-sm-9">
                @*<select asp-for="RefreshTokenUsage" asp-items="@(new SelectList(Model.RefreshTokenUsages,"Id","Text"))" class="form-control single-select"></select>*@
            </div>
        </div>

        <!--Select-->
        <div class="form-group row">
            <label asp-for="RefreshTokenExpiration" class="col-sm-3 col-form-label">
                @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("刷新令牌过期", @"Absolute 绝对刷新令牌将在固定时间点到期（由“绝对刷新令牌生命周期”指定）Sliding 滚动刷新令牌，刷新令牌时生命周期将被更新（按“滚动刷新令牌生命周期”中指定的量）。生命周期不会超过“绝对刷新令牌生命周期”"))
            </label>
            <div class="col-sm-9">
                @*<select asp-for="RefreshTokenExpiration" asp-items="@(new SelectList(Model.RefreshTokenExpirations,"Id","Text"))" class="form-control single-select"></select>*@
            </div>
        </div>

        <!--Select with tags-->
        <div class="form-group row">
            <label asp-for="AllowedCorsOriginsItems" class="col-sm-3 col-form-label">
                @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("允许跨域来源", "如果指定，将由默认 CORS 策略服务实现（In-Memory 和 EF）用于为 JavaScript 客户端构建 CORS 策略"))
            </label>
            <div class="col-sm-9">
                <picker id="AllowedCorsOriginsItems" multiple-select="true" min-search-text="2"
                        selected-items="@Model.AllowedCorsOrigins.Select(x=>x.Origin).ToList()"
                        search-input-placeholder="输入两个以上字符"
                        selected-items-title="选中项"
                        search-result-title="搜索结果（点击选择）"
                        suggested-items-title="建议项"
                        no-item-selected-title="没有选择项"
                        show-all-items-title="更多"
                        item-already-selected-title="已经被选中">
                </picker>
            </div>
        </div>

        <!--Checkbox-->
        <div class="form-group row">
            <label asp-for="UpdateAccessTokenClaimsOnRefresh" class="col-sm-3 col-form-label">
                @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("刷新时更新访问令牌声明", "获取或设置一个值，该值指示是否应在刷新令牌请求上更新访问令牌 access_token（及其声明）"))
            </label>
            <div class="col-sm-9">
                <toggle-button>
                    <input asp-for="UpdateAccessTokenClaimsOnRefresh" type="checkbox">
                </toggle-button>
            </div>
        </div>

        <!--Checkbox-->
        <div class="form-group row">
            <label asp-for="IncludeJwtId" class="col-sm-3 col-form-label">
                @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("包括 Jwt 标识", "指定 JWT 访问令牌 access_token 是否应具有嵌入的唯一标识（通过 jti 声明）"))
            </label>
            <div class="col-sm-9">
                <toggle-button>
                    <input asp-for="IncludeJwtId" type="checkbox">
                </toggle-button>
            </div>
        </div>

        <!--Checkbox-->
        <div class="form-group row">
            <label asp-for="AlwaysSendClientClaims" class="col-sm-3 col-form-label">
                @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("始终发送客户端声明", "如果设置，将为每个流发送客户端声明。 如果不是，仅用于客户端凭证流（默认为 false）"))
            </label>
            <div class="col-sm-9">
                <toggle-button>
                    <input asp-for="AlwaysSendClientClaims" type="checkbox">
                </toggle-button>
            </div>
        </div>

        <!--Checkbox-->
        <div class="form-group row">
            <label asp-for="AlwaysIncludeUserClaimsInIdToken" class="col-sm-3 col-form-label">
                @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("始终在身份令牌中包含用户声明", "指定是否在身份令牌 id_token 中包含用户声明"))
            </label>
            <div class="col-sm-9">
                <toggle-button>
                    <input asp-for="AlwaysIncludeUserClaimsInIdToken" type="checkbox">
                </toggle-button>
            </div>
        </div>

        <!--Input - text -->
        <div class="form-group row">
            <label asp-for="ClientClaimsPrefix" class="col-sm-3 col-form-label">
                @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("客户端声明前缀", "如果设置，客户端声明类型将以此为前缀。 默认为 client_。 目的是确保它们不会意外地与用户声明冲突"))
            </label>
            <div class="col-sm-9">
                <input type="text" class="form-control" asp-for="ClientClaimsPrefix">
            </div>
        </div>

        <!--Input - text -->
        <div class="form-group row">
            <label asp-for="PairWiseSubjectSalt" class="col-sm-3 col-form-label">
                @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("配对主体盐", "对于此客户端的用户，在配对主体标识生成中使用的盐值"))
            </label>
            <div class="col-sm-9">
                <input type="text" class="form-control" asp-for="PairWiseSubjectSalt">
            </div>
        </div>

        <!--Button-->
        <div class="form-group row">
            <label asp-for="Claims" class="col-sm-3 col-form-label">
                @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("声明", "允许客户端的设置声明（将包含在访问令牌 access_token 中）"))
            </label>
            <div class="col-sm-9">
                <a asp-action="Index" asp-controller="ClientClaim" asp-route-id="@Model.Id" target="_blank" class="btn btn-primary">管理客户端声明</a>
            </div>
        </div>
    </div>
</div>





