@using IdentityServer.Admin.Helpers
@model IdentityServer.Admin.Models.User.UserModel

@{
    ViewBag.Title = T("Users.Delete").Text;
    Layout = "_Layout";
}

<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index">@T("Users.PageTitle").Text</a></li>
                <li class="breadcrumb-item"><a asp-action="Edit" asp-route-id="@Model.Id">@T("Users.Edit").Text - @Model.Name</a></li>
                <li class="breadcrumb-item active" aria-current="page">@T("Users.Delete").Text</li>
            </ol>
        </nav>
    </div>
</div>

<form id="client-form" asp-action="Delete" Method="post">
    <!--Hidden -->
    <input type="hidden" asp-for="Id" />
    <div class="card mt-3">
        <h5 class="card-header">@T("Users.Delete").Text</h5>
        <div class="card-body">

            <!--Input - text -->
            <div class="form-group row">
                <label asp-for="Name" class="col-sm-3 col-form-label">
                    @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("Users.Fields.Name").Text, ""))
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" disabled="disabled" asp-for="Name">
                </div>
            </div>

            <!--Button-->
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">
                </label>
                <div class="col-sm-9">
                    <button type="submit" class="btn btn-danger">@T("Common.Delete")</button>
                </div>
            </div>
        </div>
    </div>
</form>