@using IdentityServer.Admin.Helpers
@model IdentityServer.Admin.Models.User.DeleteUserRoleModel
@{
    ViewBag.Title = T("Users.UserRolesDelete.PageTitle").Text;
    Layout = "_Layout";
}

<form asp-action="DeleteUserRole" Method="post">
    <div class="row">

        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="User" asp-action="Index">@T("Users.PageTitle").Text</a></li>
                    <li class="breadcrumb-item"><a asp-controller="User" asp-action="Edit" asp-route-id="@Model.UserId">@T("Users.Edit").Text - @Model.UserName</a></li>
                    <li class="breadcrumb-item"><a asp-controller="User" asp-action="UserRole" asp-route-id="@Model.UserId">@T("Users.UserRoles.PageTitle").Text</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@T("Users.UserRolesDelete.PageTitle").Text</li>
                </ol>
            </nav>
        </div>


        <div class="col-md-12">

            <h3>@T("Users.UserRolesDelete.PageTitle").Text</h3>

            <!--Hidden -->
            <input type="hidden" asp-for="UserId" />

            <!--Hidden -->
            <input type="hidden" asp-for="RoleId" />

            <div class="card mt-3">
                <h5 class="card-header">@T("Users.UserRolesDelete.PageTitle").Text</h5>
                <div class="card-body">

                    <!--Select-->
                    <div class="form-group row">
                        <label asp-for="RoleId" class="col-sm-3 col-form-label">
                            @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("Users.UserRoles.UserRole").Text, ""))
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" disabled="disabled" asp-for="RoleName">
                        </div>
                    </div>

                    <!--Button-->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">
                        </label>
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-danger">@T("Common.Delete")</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>