@using IdentityServer.Admin.Common
@using IdentityServer.Admin.Core.Dtos
@using IdentityServer.Admin.Helpers
@model UserClaimModel

@{
    ViewBag.Title = "用户声明";
    Layout = "_Layout";

    var pagedUserClaims = ViewBag.PagedUserClaims != null ? (PagedUserClaimDto)ViewBag.PagedUserClaims : new PagedUserClaimDto();

}

<form id="user-claims-form" asp-action="UserClaim" Method="post">
    <div class="row">

        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index">用户</a></li>
                    <li class="breadcrumb-item"><a asp-action="Edit" asp-route-id="@Model.UserId">@Model.UserName</a></li>
                    <li class="breadcrumb-item active" aria-current="page">用户声明</li>
                </ol>
            </nav>
        </div>

        <div class="col-md-12">
            <h3>用户声明</h3>

            <div asp-validation-summary="All" class="text-danger"></div>

            <!--Hidden -->
            <input type="hidden" asp-for="UserId" />
            <!--Hidden -->
            <input type="hidden" asp-for="UserName" />

            <div class="card mt-3">
                <h5 class="card-header">用户声明</h5>
                <div class="card-body">

                    <!--Select with tags-->
                    <div class="form-group row">
                        <label asp-for="ClaimType" class="col-sm-3 col-form-label">
                            @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("声明类型", "声明类型"))
                        </label>
                        <div class="col-sm-9">
                            <picker id="ClaimType" multiple-select="false" min-search-text="2"
                                    selected-item="@Model.ClaimType" url="@Url.Action("SearchClaims", "ClientClaim")?claim"
                                    search-input-placeholder="输入两个以上字符"
                                    selected-items-title="选中项"
                                    search-result-title="搜索结果（点击选择）"
                                    suggested-items-title="建议项"
                                    no-item-selected-title="没有选择项"
                                    show-all-items-title="更多"
                                    item-already-selected-title="已经被选中">
                            </picker>

                            <span asp-validation-for="ClaimType" class="text-danger"></span>
                        </div>
                    </div>

                    <!--Input - text -->
                    <div class="form-group row">
                        <label asp-for="ClaimValue" class="col-sm-3 col-form-label">
                            @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("声明值", "声明值"))
                        </label>
                        <div class="col-sm-9">
                            <input type="text" required class="form-control" asp-for="ClaimValue">
                            <span asp-validation-for="ClaimValue" class="text-danger"></span>
                        </div>
                    </div>

                    <!--Button-->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">
                        </label>
                        <div class="col-sm-9">
                            <button type="submit" id="user-claims-button" class="btn btn-primary">添加用户声明</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12">
        <div class="card mt-3">
            <h5 class="card-header">用户声明</h5>
            <div class="card-body">

                <div class="row table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>类型</th>
                                <th>值</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in pagedUserClaims.DataPagedList)
                            {
                                <tr>
                                    <td>@item.ClaimType</td>
                                    <td>@item.ClaimValue</td>
                                    <td><a asp-action="DeleteUserClaim" asp-route-id="@item.Id"  asp-route-userId="@Model.UserId" class="btn btn-danger">删除</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-12">
                        @await Html.PartialAsync("Common/Pager", new Pager { Action = "UserClaim", PageSize = pagedUserClaims.PageSize, TotalCount = pagedUserClaims.TotalCount })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
	{
    <script>
        $(function () {
            //Disable enter for this form
            FormMvc.disableEnter($('#user-claims-form'));

            //Allow validate hidden field
            FormMvc.allowValidateHiddenField($('#user-claims-form'));
        });
    </script>
}