@using IdentityServer.Admin.Common
@using IdentityServer.Admin.Core.Dtos.User
@using IdentityServer.Admin.Helpers
@model IdentityServer.Admin.Models.User.UserClaimModel

@{
    ViewBag.Title = T("Users.UserClaims.PageTitle").Text;
    Layout = "_Layout";

    var pagedUserClaims = ViewBag.PagedUserClaims != null ? (PagedUserClaimDto)ViewBag.PagedUserClaims : new PagedUserClaimDto();
}

<form id="user-claims-form" asp-action="UserClaim" Method="post">
    <div class="row">

        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index">@T("Users.PageTitle").Text</a></li>
                    <li class="breadcrumb-item"><a asp-action="Edit" asp-route-id="@Model.UserId">@T("Users.Edit").Text - @Model.UserName</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@T("Users.UserClaims.PageTitle").Text</li>
                </ol>
            </nav>
        </div>

        <div class="col-md-12">
            <h3>@T("Users.UserClaims.PageTitle").Text</h3>

            <div asp-validation-summary="All" class="text-danger"></div>

            <!--Hidden -->
            <input type="hidden" asp-for="UserId" />
            <!--Hidden -->
            <input type="hidden" asp-for="UserName" />

            <div class="card mt-3">
                <h5 class="card-header">@T("Users.UserClaims.PageTitle").Text</h5>
                <div class="card-body">

                    <!--Select with tags-->
                    <div class="form-group row">
                        <label asp-for="ClaimType" class="col-sm-3 col-form-label">
                            @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("Users.UserClaims.Type").Text, ""))
                        </label>
                        <div class="col-sm-9">
                            <picker id="ClaimType" multiple-select="false" min-search-text="2"
                                    selected-item="@Model.ClaimType" url="@Url.Action("SearchClaims", "ClientClaim")?claim"
                                    search-input-placeholder="@T("Common.PickerSearchItemPlaceholder").Text"
                                    selected-items-title="@T("Common.PickerSelectedItemsTitle").Text"
                                    search-result-title="@T("Common.PickerSearchResultTitle").Text"
                                    suggested-items-title="@T("Common.PickerSuggestedItemsTitle").Text"
                                    no-item-selected-title="@T("Common.PickerNoItemSelectedTitle").Text"
                                    show-all-items-title="@T("Common.PickerShowAllItemsTitle").Text"
                                    item-already-selected-title="@T("Common.PickerItemAlreadySelectedTitle").Text">
                            </picker>

                            <span asp-validation-for="ClaimType" class="text-danger"></span>
                        </div>
                    </div>

                    <!--Input - text -->
                    <div class="form-group row">
                        <label asp-for="ClaimValue" class="col-sm-3 col-form-label">
                            @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("Users.UserClaims.Value").Text, ""))
                        </label>
                        <div class="col-sm-9">
                            <input type="text" required class="form-control" asp-for="ClaimValue">
                            <span asp-validation-for="ClaimValue" class="text-danger"></span>
                        </div>
                    </div>

                    <!--Button-->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">
                        </label>
                        <div class="col-sm-9">
                            <button type="submit" id="user-claims-button" class="btn btn-primary">@T("Common.Save")</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12">
        <div class="card mt-3">
            <h5 class="card-header">@T("Users.UserClaims.PageTitle").Text</h5>
            <div class="card-body">

                <div class="row table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>@T("Users.UserClaims.Type").Text</th>
                                <th>@T("Users.UserClaims.Value").Text</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in pagedUserClaims.DataPagedList)
                            {
                                <tr>
                                    <td>@item.ClaimType</td>
                                    <td>@item.ClaimValue</td>
                                    <td><a asp-action="DeleteUserClaim" asp-route-id="@item.Id" asp-route-userId="@Model.UserId" class="btn btn-danger">@T("Common.Delete").Text</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-12">
                        @await Html.PartialAsync("Common/Pager", new Pager { Action = "UserClaim", PageSize = pagedUserClaims.PageSize, TotalCount = pagedUserClaims.TotalCount })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
	{
    <script>
        $(function () {
            //Disable enter for this form
            FormMvc.disableEnter($('#user-claims-form'));

            //Allow validate hidden field
            FormMvc.allowValidateHiddenField($('#user-claims-form'));
        });
    </script>
}