@using IdentityServer.Admin.Common
@using IdentityServer.Admin.Core.Constants
@using IdentityServer.Admin.Core.Dtos.Client
@using IdentityServer.Admin.Core.Entities.Enums
@using IdentityServer.Admin.Core.Extensions
@using IdentityServer.Admin.Helpers
@model ClientSecretModel
@{
    ViewBag.Title = "客户端密钥";
    Layout = "_Layout";
    var pagedClientSecrets = ViewBag.PagedClientSecrets != null ? (PagedClientSecretDto)ViewBag.PagedClientSecrets : new PagedClientSecretDto();
    var availableTypeList = ClientConstant.GetSecretTypes().Select(x => new SelectListItem
    {
        Text = x.ToString(),
        Value = x.ToString()
    }).ToList();

    var availableHashTypeList = EnumExtension.ToDictionary<HashType>()
        .Select(x => new SelectListItem
        {
            Text = x.Value,
            Value = x.Key.ToString()
        }).ToList();

}

<form asp-controller="ClientSecret" asp-action="Create" Method="post">
    <div class="row">

        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Client" asp-action="Index">客户端</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Client" asp-action="Edit" asp-route-id="@Model.ClientId">@Model.ClientName</a></li>
                    <li class="breadcrumb-item active" aria-current="page">客户端密钥</li>
                </ol>
            </nav>
        </div>

        <div class="col-md-12">
            <h3>客户端密钥</h3>

            <div asp-validation-summary="All" class="text-danger"></div>

            <!--Hidden -->
            <input type="hidden" asp-for="ClientId" />

            <!--Hidden -->
            <input type="hidden" asp-for="ClientName" />

            <div class="card mt-3">
                <h5 class="card-header">客户端密钥</h5>
                <div class="card-body">
                    <!--Select-->
                    <div class="form-group row">
                        <label asp-for="Type" class="col-sm-3 col-form-label">
                            @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("密钥类型", ""))
                        </label>
                        <div class="col-sm-9">
                            <select asp-for="Type" asp-items="@availableTypeList" class="form-control"></select>
                        </div>
                    </div>

                    <!--Input - text -->
                    <div class="form-group row">
                        <label asp-for="Value" class="col-sm-3 col-form-label">
                            @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("密钥值", ""))
                        </label>
                        <div class="col-sm-9">

                            <div class="input-group mb-3">
                                <input id="secret-input" type="text" autocomplete="off" required class="form-control" asp-for="Value">
                                <div class="input-group-append">
                                    <button type="button" id="generate-guid-button" class="btn btn-primary"><span class="oi oi-random"></span></button>
                                </div>
                            </div>
                            <span asp-validation-for="Value" class="text-danger"></span>
                        </div>
                    </div>

                    <!--Select-->
                    <div class="form-group row">
                        <label asp-for="HashType" class="col-sm-3 col-form-label">
                            @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("哈希类型", ""))
                        </label>
                        <div class="col-sm-9">
                            <select asp-for="HashType" asp-items="@availableHashTypeList" class="form-control"></select>

                            <div class="alert alert-warning" role="alert">
                                <span class="sr-only">Localizer["InfoTitle"]</span>
                                哈希类型仅适用于 SharedSecret 类型
                            </div>
                        </div>
                    </div>

                    <!--Date Picker-->
                    <div class="form-group row">
                        <label asp-for="Expiration" class="col-sm-3 col-form-label">
                            @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("到期", ""))
                        </label>
                        <div class="col-sm-9">
                            <div class="datepicker input-group date">
                                <input asp-for="Expiration" autocomplete="off" type="text" class="form-control">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Input - text -->
                    <div class="form-group row">
                        <label asp-for="Description" class="col-sm-3 col-form-label">
                            @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("描述", ""))
                        </label>
                        <div class="col-sm-9">
                            <input type="text" autocomplete="off" class="form-control" asp-for="Description">
                        </div>
                    </div>

                    <!--Button-->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">
                        </label>
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-primary">添加客户端密钥</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12">
        <div class="card mt-3">
            <h5 class="card-header">客户端密钥</h5>
            <div class="card-body">
                <div class="row table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>类型</th>
                                <th>值</th>
                                <th>描述</th>
                                <th>到期时间</th>
                                <th>创建时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var clientSecret in pagedClientSecrets.DataPagedList)
                            {
                                <tr>
                                    <td><a asp-action="Delete" asp-route-id="@clientSecret.Id" asp-route-name="@Model.ClientName" class="btn btn-danger"><span class="oi oi-x"></span></a></td>
                                    <td>@clientSecret.Type</td>
                                    @* ReSharper disable once UnknownCssClass *@
                                    <td><button class="secret-value-button btn btn-outline-primary" data-secret-value="@clientSecret.Value"><i class="fa fa-eye"></i></button></td>
                                    <td>@clientSecret.Description</td>
                                    <td>@(clientSecret.Expiration.HasValue ? clientSecret.Expiration.Value.ToString("yyyy-MM-dd") : string.Empty)</td>
                                    <td>@clientSecret.Created.Date.ToShortDateString()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        @await Html.PartialAsync("Common/Pager", new Pager { Action = "Index", PageSize = pagedClientSecrets.PageSize, TotalCount = pagedClientSecrets.TotalCount })
                    </div>
                </div>

                <div id="secret-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">密钥值</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h2 id="modal-secret-value"></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>