@using IdentityServer.Admin.Helpers
@model IdentityServer.Admin.Models.ApiResource.ApiResourceModel
<!--Input - text -->
<div class="form-group row">
    <label asp-for="Name" class="col-sm-3 col-form-label">
        @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("ApiResources.Fields.Name").Text, T("ApiResources.Fields.Name.Hint").Text))
    </label>
    <div class="col-sm-9">
        <input type="text" required class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</div>

<!--Input - text -->
<div class="form-group row">
    <label asp-for="DisplayName" class="col-sm-3 col-form-label">
        @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("ApiResources.Fields.DisplayName").Text, T("ApiResources.Fields.DisplayName.Hint").Text))
    </label>
    <div class="col-sm-9">
        <input type="text" class="form-control" asp-for="DisplayName">
    </div>
</div>

<!--Input - text -->
<div class="form-group row">
    <label asp-for="Description" class="col-sm-3 col-form-label">
        @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("ApiResources.Fields.Description").Text, T("ApiResources.Fields.Description.Hint").Text))
    </label>
    <div class="col-sm-9">
        <input type="text" class="form-control" asp-for="Description">
    </div>
</div>

<!--Checkbox-->
<div class="form-group row">
    <label asp-for="Enabled" class="col-sm-3 col-form-label">
        @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("ApiResources.Fields.Enabled").Text, T("ApiResources.Fields.Enabled.Hint").Text))
    </label>
    <div class="col-sm-9">
        <toggle-button>
            <input asp-for="Enabled" type="checkbox">
        </toggle-button>
    </div>
</div>

@if (Model.Id != 0)
{
    <!--Button-->
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">
            @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("ApiResource.Scopes").Text, T("ApiResource.Scopes.Hint").Text))
        </label>
        <div class="col-sm-9">
            <a asp-controller="ApiResourceScope" asp-action="Index" asp-route-apiResourceId="@Model.Id" class="btn btn-primary">@T("ApiResource.ButtonManageScopes").Text</a>
        </div>
    </div>
    <!--Button-->
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">
            @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("ApiResource.ApiSecrets").Text, T("ApiResource.ApiSecrets.Hint").Text))
        </label>
        <div class="col-sm-9">
            <a asp-controller="ApiResourceSecret" asp-action="Index" asp-route-apiResourceId="@Model.Id" class="btn btn-primary">@T("ApiResource.ButtonManageSecrets").Text</a>
        </div>
    </div>
    <!--Button-->
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">
            @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("ApiResource.Properties").Text, T("ApiResource.Properties.Hint").Text))
        </label>
        <div class="col-sm-9">
            <a asp-controller="ApiResourceProperty" asp-action="Index" asp-route-apiResourceId="@Model.Id" class="btn btn-primary">@T("ApiResource.ButtonManageProperties").Text</a>
        </div>
    </div>
}

<!--Select with tags-->
<div class="form-group row">
    <label asp-for="UserClaimsItems" class="col-sm-3 col-form-label">
        @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("ApiResources.Fields.UserClaims").Text, T("ApiResources.Fields.UserClaims.Hint").Text))
    </label>
    <div class="col-sm-9">
        <picker id="UserClaimsItems" multiple-select="true" min-search-text="2"
                selected-items="@Model.UserClaims.Select(x=>x.Type).ToList()"
                url="@Url.Action("SearchClaims","ClientClaim")?claim"
                search-input-placeholder="@T("Common.PickerSearchItemPlaceholder").Text"
                selected-items-title="@T("Common.PickerSelectedItemsTitle").Text"
                search-result-title="@T("Common.PickerSearchResultTitle").Text"
                suggested-items-title="@T("Common.PickerSuggestedItemsTitle").Text"
                no-item-selected-title="@T("Common.PickerNoItemSelectedTitle").Text"
                show-all-items-title="@T("Common.PickerShowAllItemsTitle").Text"
                item-already-selected-title="@T("Common.PickerItemAlreadySelectedTitle").Text">
        </picker>
    </div>
</div>

<!--Button-->
<div class="form-group row">
    <label class="col-sm-3 col-form-label">
    </label>
    <div class="col-sm-9">
        <button type="submit" id="api-resource-save-button" class="btn btn-primary">@T("Common.Save").Text</button>
        @if (Model.Id != 0)
        {
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">@T("Common.Delete").Text</a>
        }
    </div>
</div>